<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div ng-app="comunicacionApp" ng-controller="comunicacionController"
		class="container">

		<h1>Emails</h1>
		<div class="row">

			<div class="col-sm-6" style="border: solid 1px">
				<br />


				<div class="form-group">
					<label>Usuario</label> <select ng-model="sender"
						ng-init="cargarUsuarios()" class="form-control" style="width: 80%">

						<!-- <option ng-repeat="u in usuarios" value="{{u.idusuario}}">{{u.email}}</option>  -->
						<option ng-repeat="u in usuarios" value="{{u.email}}">{{u.email}}</option>

					</select>

				</div>
				<div class="form-group">
					<label>Destinatario</label> <input type="text" min="0"
						ng-model="recipient" class="form-control" style="width: 80%" />
				</div>
				<div class="form-group">
					<label>Asunto</label> <input type="text" min="0" ng-model="subject"
						class="form-control" style="width: 80%" />
				</div>
				<div class="form-group">
					<label>MensajeText</label> <input type="text" min="0"
						ng-model="bodyText" class="form-control" style="width: 80%" />
				</div>
				<div class="form-group">
					<label>MensajeHTML</label> <input type="text" min="0"
						ng-model="bodyHTML" class="form-control" style="width: 80%" />
				</div>
				<br /> <br />
			</div>
		</div>
		<br />

		<button ng-click="enviarEmail()" type="button">Enviar Email</button>
		<br /> <br /> <br /> <a href="inicio.html"> Inicio </a>

	</div>
	<script>
		var app = angular.module("comunicacionApp", []);
		app.controller("comunicacionController", function($scope, $http) {
			$scope.usuarios = [];
			$scope.mostrarTabla = true;

			$scope.cargarUsuarios = function() {
				let url = "http://localhost:7000/teoricopractico/allUsuarios";
				//let url = "http://localhost:7000/vuelos/vuelos/disponibilidadVuelos/1";	
				$http.get(url).then(function(res) {
					$scope.usuarios = res.data;
				});
			}

			$scope.enviarEmail = function() {
				let url = "http://localhost:7000/teoricopractico/enviarEmail";
				//let url="http://localhost:7000/reservas/reservas/alta";
				let ob = new Object();
				ob.sender = $scope.sender;
				ob.recipient = $scope.recipient;
				ob.subject = $scope.subject;
				ob.bodyText = $scope.bodyText;
				ob.bodyHTML = $scope.bodyHTML;
				$http.post(url, ob);

			};
		});
	</script>
</body>
</html>